{
	"env":
	{
		"development":
		{
			"presets":
			[
				"es2015",
				"stage-2"
			],

			"plugins":
			[
				"transform-runtime"
			]
		},
		"commonjs":
		{
			"presets":
			[
				"es2015",
				"stage-2"
			],

			"plugins":
			[
				"transform-runtime"
			]
		},
		"es6":
		{
			"presets":
			[
				["es2015", { modules: false }],
				"stage-2"
			],

			"plugins":
			[
				"transform-runtime"
			]
		}
	}
}
