{
	"env":
	{
		"development":
		{
			"presets":
			[
				"env"
			],

			"plugins":
			[
				"transform-object-rest-spread",
				["transform-es2015-for-of", { loose: true }]
			]
		},
		"commonjs":
		{
			"presets":
			[
				"env"
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }]
			]
		},
		"es6":
		{
			"presets":
			[
				["env", { modules: false }]
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }]
			]
		}
	}
}
