# test coverage folder
/coverage/

# npm modules
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
/node_modules/

# npm errors
npm-debug.log

# for OS X users
.DS_Store

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# webpack build target folder
/build/
/es6/

# browser builds
/bundle/

# metadata
/metadata.json
/metadata.full.json
/metadata.min.json
/metadata.max.json
/metadata.mobile.json
/examples.mobile.json

# metadata update info
/metadata-update.json

# metadata subpackages' copied files
/min/metadata/metadata.min.json
/min/metadata/metadata.min.json.js
/min/metadata/metadata.min.json.d.ts
/max/metadata/metadata.max.json
/max/metadata/metadata.max.json.js
/max/metadata/metadata.max.json.d.ts
/mobile/metadata/metadata.mobile.json
/mobile/metadata/metadata.mobile.json.js
/mobile/metadata/metadata.mobile.json.d.ts
/mobile/examples/examples.mobile.json
/mobile/examples/examples.mobile.json.js
/mobile/examples/examples.mobile.json.d.ts

# metadata.js
/metadata.full.json.js
/metadata.min.json.js
/metadata.max.json.js
/metadata.mobile.json.js
/examples.mobile.json.js

# code coverage
.nyc_output

*.d.cts
/max/index.d.ts
/mobile/index.d.ts