# git
.gitignore
.gitattributes

# Babel
.babelrc

# Sources aren't needed for npm
/source/

# testing package
/libphonenumber-js-*.tgz

# Travis CI
.travis.yml

# test coverage folder
/coverage/

# npm errors
npm-debug.log

# github pages
/gh-pages/

# for OS X users
.DS_Store

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
*.sublime-project

# NUL
/NUL

# webpack is used in development
/webpack.config.js

# tests aren't needed for npm
/test/

# Since cdnjs is used, now including `bundle` in npm distribution
# # browser builds
# /bundle/

# intermediary metadata
/metadata.json
/PhoneNumberMetadata.xml